// brand colors
$color-white: #ffffff;
$color-primary: #a70023;
$color-highlight: rgba(167, 0, 36, 0.02);
$color-text: #222831;
$color-subtext: #393e46;
$color-alternate: #6939ff;
$color-secondary: #f9e1b8;
$color-tertiary: #027f4b;
$color-skyblue: #0e81ff;
$color-light: rgba(242, 244, 246, 0.4);
// border
$light-border: 1px solid #f2f4f6;
