@import "../../sass/abstracts/variables";

.container {
  position: relative;
  background-color: $color-white;
  height: 180px;
  padding: 16px;
  border-radius: 10px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 160px 1fr;
  column-gap: 26px;
  box-shadow: 0 10px 20px rgba($color: $color-primary, $alpha: 0.05);
  & > .tag {
    position: absolute;
    left: 10px;
    top: 30px;
    background-color: $color-primary;
    color: $color-white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    &.commercial {
      background-color: $color-tertiary;
    }
    &.transient {
      background-color: $color-skyblue;
    }
  }
}
.imgWrapper {
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.content {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 8px;
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  & h3 {
    color: $color-text;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 4px 0;
  }
  & span {
    font-size: 14px;
    color: $color-subtext;
  }
  //   favourite section
  & > .bookmark {
    & > span {
      font-size: 12px;
    }
    & > div {
      & > button {
        background-color: $color-light;
        &:last-child {
          background-color: $color-highlight;
        }
      }
    }
  }
  // pricing section
  & > .title {
    & > .price {
      width: 100%;
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 16px;
      & > .type {
        color: $color-tertiary;
        font-size: 12px;
        background-color: rgba($color: $color-tertiary, $alpha: 0.1);
        padding: 5px 10px;
        border-radius: 5px;
      }
      & > div {
        & > span {
          text-decoration: line-through;
          font-size: 12px;
        }
      }
    }
  }
  & > .properties {
    & > div {
      display: flex;
      gap: 2px;
      align-items: center;
      & > span {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    min-height: 300px;
  }
  .content {
    margin-top: 16px;
  }
}

@media screen and (max-width: 600px) {
  .content {
    grid-template-rows: 20% 1fr;
    & > div {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .bookmark {
    display: flex;
    flex-direction: row !important;
  }
  .properties {
    display: none !important;
  }
  .price {
    flex-direction: row;
    justify-content: space-between !important;
    & > div {
      & > span {
        display: none;
      }
    }
  }
}
